import PB_templates
import mode_cont

game = {
	'res_x' : 320,
	'res_y' : 288,
	'zoom' : 4,
	'fullscreen' :  False,
	'init_mode': 'title',
	'render layers' : {
		'game': {
			'texture atlas': {
				'size hint': 320,
				'file': False,
			},
		},
		'overlay': {
			'fonts': {
				'general': {
					'file': "Fonts/PacBun/PacBun.ttf",
					'size': 15,
				},
			},
			'texture atlas': False,
		},
	}, # end render layers
	'entities': { # entities that exist for the whole game

	}, # end entities
	'templates' : PB_templates.game_templates,
	# templates that exist for the whole game
	'modes' : {
		'play' : {
			'scene list' :[
				"Poo. Everywhere",
				"Introducing Foxes",
				"Open level",
			],
			'entities': {	# these are entities that exist for the whole of the mode

			}, # end entities
			'templates': {  # these are templates that exist for the whole of the mode

			}, # end templates
		},
		'title' : {
			'scene list':[
				"title",
				"high scores",
				"meet the bunnies",
			], # end scene list
			'entities': {  # these are entities that exist for the whole of the mode
				'title cont':{
					'template': 'title cont',
					'init': "self.setGamePad(game.input.getGamePad(0))"
				},
			},  # end entities
			'templates': {  # these are templates that exist for the whole of the mode
				'title cont': {
					'controller': mode_cont.makeTitleController,
				}
			},  # end templates
		},
		'new high score': {
			'scene list':[
				"new high score",
			], # end scene list
			'entities': {  # these are entities that exist for the whole of the mode

			},  # end entities
			'templates': {  # these are templates that exist for the whole of the mode

			},  # end templates
		},
		'select bunnies': {
			'scene list': [
				'select bunnies',
			], # end scene list
			'entities': {  # these are entities that exist for the whole of the mode
				'select bunnies cont': {
					'template': 'select bunnies cont',
					'init': "self.setGamePad(game.input.getGamePad(0))"
				},
			},  # end entities
			'templates': {  # these are templates that exist for the whole of the mode
				'select bunnies cont': {
					'controller': mode_cont.makeSelectBunniesController,
				}
			},  # end templates
		},
		'quit':{
			'scene list': [
				'goodbye',
			],
		},
	} # end modes
}
