import PB_templates
import mode_cont

game = {
	'res_x' : 320,
	'res_y' : 288,
	'zoom' : 4,
	'fullscreen' :  False,
	'init_mode': 'title',
	'render layers' : {
		'game': {
			'texture atlas': {
				'size hint': 320,
				'file': False,
			},
		},
		'overlay': {
			'fonts': {
				'general': {
					'file': "Fonts/PacBun/PacBun.ttf",
					'size': 15,
				},
			},
			'texture atlas': False,
		},
	}, # end render layers
	'entities': { # entities that exist for the whole game

	}, # end entities
	'templates' : PB_templates.game_templates,
	# templates that exist for the whole game
	'modes' : {
		'title' : {
			'scenes':[
				"title",
				"high scores",
				"meet the bunnies",
			], # end scenes
			'entities': {  # these are entities that exist for the whole of the mode
				'title cont':{
					'template': 'title cont',
					'init': "self.setGamePad(self.game.input.getGamePad(0))"
				},
			},  # end entities
			'templates': {  # these are templates that exist for the whole of the mode
				'title cont': {
					'controller': mode_cont.makeTitleController,
				}
			},  # end templates
		},
		'new high score': {
			'scenes':[
				"new high score",
			], # end scenes
			'entities': {  # these are entities that exist for the whole of the mode

			},  # end entities
			'templates': {  # these are templates that exist for the whole of the mode

			},  # end templates
		},
		'bunny select': {
			'scenes': [
				'select bunnies',
				],
			"entities": {
				'bunny choice 0': {
					'template': 'bunny choice',
					'init': "self.setGamePad(self.game.input.getGamePad(0))",
					'data': {
						'this bun': 0
					},
				},
				# 'bunny choice 1': {
				# 	'template': 'bunny choice',
				# 	'init': "self.setGamePad(self.game.input.getGamePad(1))",
				# 	'data': {
				# 		'this bun': 1
				# 	},
				# },
			},  # entities
			'templates': {
				'bunny choice': {
					'controller': mode_cont.makeBunnyChoiceController,
				},
			},  # templates
		},
		'play': {
			'scenes': [
				"Poo. Everywhere",
				"Introducing Foxes",
				"Many foxes",
				"Open level"
			], # end scenes
			"entities": {
				'play controller': {
					'template': 'play controller',
					'init': 'self.setGamePad(self.game.input.getGamePad(0))'
				}
			},  # entities
			'templates': {
				'play controller': {
					'controller': mode_cont.makePlayController,
				}
			},  # templates
		}, # end select bunnies mode
		'quit':{
			'scenes': [
				'goodbye',
			],
			'entities': {  # these are entities that exist for the whole of the mode
				'quit cont': {
					'template': 'quit cont',
					'init': "self.setGamePad(self.game.input.getGamePad(0))"
				},
			},  # end entities
			'templates': {  # these are templates that exist for the whole of the mode
				'quit cont': {
					'controller': mode_cont.makeQuitController,
				}
			},  # end templates
		}, # end quit mode
	} # end modes
}
