# define level maps
levels = [
			{
				"Bunnies": ['pacbun'],
				"Playing": False,
				"Actions": [
					# self.run(who="pacbun",to=(5,11)),
				],
				"Message": "Poo. Everywhere.",
				"Map": [
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"B    OHHHHHHHHHHHHHH",
					"HHHHHT##############",
					"#####T##############",
					"#####TTTTTTTTT######",
					"##########T#########",
					"##########T###HHHHHH",
					"##########T###HO    ",
					"##########T####T####",
					"##########TTTTTT####",
					"####################",
					"####################",
					"####################",
				]
			}, {
		"Message": "Poo. Everywhere.",
		"Map": [
			"HHHHHHHHHHHHHHHHHHHH",
			"HHHHHHHHHHHHHHHHHHHH",
			"HHHHHHHHHHHHHHHHHHHH",
			"HH   HHHHHHHHHH   HH",
			"HH H HHHHHHHHHH H HH",
			"HH  oHHHHHHHHHHo  HH",
			"HHHHHHHHHHHHHHHHHHHH",
			"HHHHHHHHHHHHHHHHHHHH",
			"HHHHHHH BHB HHHHHHHH",
			"HHHHHHHH B HHHHHHHHH",
			"HHHHHHHHHBHHHHHHHHHH",
			"HHHHHHHHH HHHHHHHHHH",
			"HHHoHHHHH HHHHHHoHHH",
			"HHH HHHHH HHHHHH HHH",
			"HHH              HHH",
			"HHHHHHHHHHHHHHHHHHHH",
			"HHHHHHHHHHHHHHHHHHHH",
			"HHHHHHHHHHHHHHHHHHHH",
		]
	}, {
		"Message":"Avoid the fox!",
				"Map": [
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHBBBBoHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHH        oHHHHHH",
					"HHHHH HHHHHH HHHHHHH",
					"HHHH            HHHH",
					"HHHH H HHHHH HH HHHH",
					"HHHH HoHHHHH HH HHHH",
					"HHHH HHHHHHH HH HHHH",
					"HHHH          1 HHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
				]
			}, {
				"Message":"Not all foxes think the same way...",
				"Map":[
			"HHHHHHHHHHHHHHHHHHHH",
			"H1                 H",
			"H HHHH HHHHHH HHHH H",
			"H oHHH HH       B  H",
			"H HHHH HH HHHoH HHHH",
			"H         B        H",
			"H HH HHHHHH HHHHHH H",
			"H HH HHH    HHHHHH H",
			"H HH HHH HHHHHHHHH H",
			"H 3H           BoH H",
			"HH H HHHHHHHHHH HH H",
			"HH H HHHHHHH    HH H",
			"H            HH HH H",
			"H HH HHHHHHH HH HH H",
			"H Ho      B     HH H",
			"H HHHHHHHHHHHHHHHH H",
			"H                 2H",
			"HHHHHHHHHHHHHHHHHHHH",
			]
			}, {
			"Message": "Poo on every path",
			"Map": [
			"HHHHHHHHHHHHHHHHHHHH",
			"H1                 H",
			"H HoHH HHHHHH HHHH H",
			"H HHHH HH          H",
			"H HHoH HH HHHHH HHHH",
			"H                  H",
			"H HH H HHHH HH HHH H",
			"H HH H      HH     H",
			"H HH H HHHHHHH HHH H",
			"H H            BoH H",
			"H H  HH HH HHHH HH H",
			"H H  HH HH H    HH H",
			"H            HH HH H",
			"H HH H HH HH HH HH H",
			"H Ho            HH H",
			"H HHHH HHHHHH HHHH H",
			"H                 2H",
			"HHHHHHHHHHHHHHHHHHHH",
		]},
]
