# define level maps
levels = [
# 			{
# 				# "Bunnies": ['pacbun'],
# 				"Playing": False,
# 				"Entities": {
# 					'pacbun': {
# 						'template': 'pacbun',
# 						'init': """
# self.setPos(game.level.getBunnyStarts()[0])
# 												"""
# 					},
# 					'pinkie': {
# 						'template': 'pinkie',
# 						'init': """
# self.setPos(game.level.getBunnyStarts()[1])
# 												"""
# 					},
# 					# 					'director':	{
# # 						'template': 'director',
# # 						'init': """
# # self.controller_data.events= [
# # 	Delay(3),
# # 	SpawnEntity(game.templates['pacbun'], Vec3(100,100,1), False, "Spawned bunny"),
# # ]
# # 						"""
# # 					}
# 				},
# 				"Message": "Poo. Everywhere.",
# 				"Map": [
# 					"HHHHHHHHHHHHHHHHHHHH",
# 					"HHHHHHHHHHHHHHHHHHHH",
# 					"HHHHHHHHHHHHHHHHHHHH",
# 					"HHHHHHHHHHHHHHHHHHHH",
# 					"HHHHHHHHHHHHHHHHHHHH",
# 					"HHHHHHHHHHHHHHHHHHHH",
# 					"B    OHHHHHHHHHHHHHH",
# 					"HHHHHT##############",
# 					"#####T##############",
# 					"#####TTTTTTTTT######",
# 					"##########T#########",
# 					"##########T###HHHHHH",
# 					"##########T###HO  B ",
# 					"##########T####T####",
# 					"##########TTTTTT####",
# 					"####################",
# 					"####################",
# 					"####################",
# 				]
# 			},
	{
		"Message": "Poo. Everywhere.",
		"Playing": True,
		"Entities": {},
		"Map": [
			"HHHHHHHHHHHHHHHHHHHH",
			"HHHHHHHHHHHHHHHHHHHH",
			"HHHHHHHHHHHHHHHHHHHH",
			"HH1  HHHHHHHHHH   HH",
			"HH H HHHHHHHHHH H HH",
			"HH  oHHHHHHHHHHo  HH",
			"HHHHHHHHHHHHHHHHHHHH",
			"HHHHHHHHHHHHHHHHHHHH",
			"HHHHHHHBBHBBHHHHHHHH",
			"HHHHHHHH   HHHHHHHHH",
			"HHHHHHHHH HHHHHHHHHH",
			"HHHHHHHHH HHHHHHHHHH",
			"HHHoHHHHH HHHHHHoHHH",
			"HHH HHHHH HHHHHH HHH",
			"HHH              HHH",
			"HHHHHHHHHHHHHHHHHHHH",
			"HHHHHHHHHHHHHHHHHHHH",
			"HHHHHHHHHHHHHHHHHHHH",
		]
	},
	{
		"Message":"Avoid the fox!",
		"Playing": True,
		"Entities": {},
		"Map": [
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHBBBBoHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHH        oHHHHHH",
					"HHHHH HHHHHH HHHHHHH",
					"HHHH            HHHH",
					"HHHH H HHHHH HH HHHH",
					"HHHH HoHHHHH HH HHHH",
					"HHHH HHHHHHH HH HHHH",
					"HHHH          1 HHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
					"HHHHHHHHHHHHHHHHHHHH",
				]
			},
	{
		"Message":"Not all foxes think the same way...",
		"Playing": True,
		"Entities": {},
		"Map":[
			"HHHHHHHHHHHHHHHHHHHH",
			"H1                 H",
			"H HHHH HHHHHH HHHH H",
			"H oHHH HH       B  H",
			"H HHHH HH HHHoH HHHH",
			"H         B        H",
			"H HH HHHHHH HHHHHH H",
			"H HH HHH    HHHHHH H",
			"H HH HHH HHHHHHHHH H",
			"H 3H           BoH H",
			"HH H HHHHHHHHHH HH H",
			"HH H HHHHHHH    HH H",
			"H            HH HH H",
			"H HH HHHHHHH HH HH H",
			"H Ho      B     HH H",
			"H HHHHHHHHHHHHHHHH H",
			"H                 2H",
			"HHHHHHHHHHHHHHHHHHHH",
			]
			},
	{
		"Playing": True,
		"Entities": {},
		"Message": "Poo on every path",
		"Map": [
			"HHHHHHHHHHHHHHHHHHHH",
			"H1                 H",
			"H HoHH HHHHHH HHHH H",
			"H HHHH HH          H",
			"H HHoH HH HHHHH HHHH",
			"H                  H",
			"H HH H HHHH HH HHH H",
			"H HH H      HH     H",
			"H HH H HHHHHHH HHH H",
			"H H            BoH H",
			"H H  HH HH HHHH HH H",
			"H H  HH HH H    HH H",
			"H            HH HH H",
			"H HH H HH HH HH HH H",
			"H Ho            HH H",
			"H HHHH HHHHHH HHHH H",
			"H                 2H",
			"HHHHHHHHHHHHHHHHHHHH",
		]},
]
