import scene_select_bunnies
import PB_templates
from px_vector import Vec3
import px_graphics

scenes = {
	'meet the bunnies':{
		'director': 'meet',
		"entities": {
			'director': {
				'template': 'director',
				'init': """import PB_directors
self.events = PB_directors.director_meet(self.game)
"""
			},
		},
		'templates': {
			'pacbun meet': {
				'graphics': {'component': PB_templates.components['graphics']['pacbun_graphics'], 'render layer': 'game'},
			},
			'pinkie meet': {
				'graphics': {'component': PB_templates.components['graphics']['pinkie_graphics'], 'render layer': 'game'},
			},
			'blue meet': {
				'graphics': {'component': PB_templates.components['graphics']['blue_graphics'], 'render layer': 'game'},
			},
			'bowie meet': {
				'graphics': {'component': PB_templates.components['graphics']['bowie_graphics'], 'render layer': 'game'},
			},
		},
	},
	'drake blue': {
		'director': 'drake_blue',
		"entities": {
			'director': {
				'template': 'director',
				'init': "import PB_directors\n"
								"self.events = PB_directors.director_drake_blue(self.game)"
			}
		},
		'templates': {
		},
	},
	'title':{
		"entities":{
			'director': {
				'template': 'director',
				'init': """import PB_directors
self.events = PB_directors.director_title(self.game)
"""
			}
		},
		'templates': {
		},
	},
    # goodbye #######################################################
	'goodbye':{
		'entities': {
			'director':{
				'template': 'director',
				'init': "import PB_directors\n"
								"self.events = PB_directors.director_quit(self.game)"
			},
		},
		'templates':{
			}, # end templates
		}, # end scene 'goodbye'
	'high scores':{
		"entities": {
			'director': {
				'template': 'director',
				'init': "import PB_directors\n"
								"self.events = PB_directors.director_high_scores(self.game)"
			}
		},
		'templates': {
		},
	},
	'select bunnies':{
		"entities": {
			'director': {
				'template': 'director',
				'init': "import PB_directors\n"
								"self.events = PB_directors.director_bunny_select(self.game)"
			},
		}, # entities
		'templates':{
			'pacbun choose': {
				'controller': scene_select_bunnies.makeBunnyChooseController,
				'graphics': {'component': PB_templates.components['graphics']['pacbun_graphics'], 'render layer': 'game'},
			},
			'pinkie choose': {
				'controller': scene_select_bunnies.makeBunnyChooseController,
				'graphics': {'component': PB_templates.components['graphics']['pinkie_graphics'], 'render layer': 'game'},
			},
			'blue choose': {
				'controller': scene_select_bunnies.makeBunnyChooseController,
				'graphics': {'component': PB_templates.components['graphics']['blue_graphics'], 'render layer': 'game'},
			},
			'bowie choose': {
				'controller': scene_select_bunnies.makeBunnyChooseController,
				'graphics': {'component': PB_templates.components['graphics']['bowie_graphics'], 'render layer': 'game'},
			},
		}, # templates
	},
	# 	{
	# 				# "Bunnies": ['pacbun'],
	# 				"Playing": True,
	# 				"Entities": {
	# 					'pacbun': {
	# 						'template': 'pacbun',
	# 						'init': """
	# self.setPos(game.level.getBunnyStarts()[0])
	# 												"""
	# 					},
	# 					'director':	{
	# 						'template': 'director',
	# 						'init': """
	# import director
	# self.events= [
	# 	director.Delay(1.5),
	# 	game.message("
	# 	director.Spawn(spawns=[director.SpawnEntity(game.templates['pinkie'], Vec3(100,100,1), False, "Spawned bunny")]),
	# 	director.Delay(1.1),
	# 	director.Spawn(spawns=[director.SpawnEntity(game.templates['blue'], Vec3(110,100,1), False, "Spawned bunny")]),
	# 	director.Delay(0.9),
	# 	director.Spawn(spawns=[director.SpawnEntity(game.templates['bowie'], Vec3(120,100,1), False, "Spawned bunny")]),
	# ]
	# 						"""
	# 					}
	# 				},
	# 				"Message": "Poo. Everywhere.",
	# 				"Map": [
	# 					"HHHHHHHHHHHHHHHHHHHH",
	# 					"HHHHHHHHHHHHHHHHHHHH",
	# 					"HHHHHHHHHHHHHHHHHHHH",
	# 					"HHHHHHHHHHHHHHHHHHHH",
	# 					"HHHHHHHHHHHHHHHHHHHH",
	# 					"HHHHHHHHHHHHHHHHHHHH",
	# 					"B    OHHHHHHHHHHHHHH",
	# 					"HHHHHT##############",
	# 					"#####T##############",
	# 					"#####TTTTTTTTT######",
	# 					"##########T#########",
	# 					"##########T###HHHHHH",
	# 					"##########T###HO    ",
	# 					"##########T####T####",
	# 					"##########TTTTTT####",
	# 					"####################",
	# 					"####################",
	# 					"####################",
	# 				]
	# 			},
	"Poo. Everywhere": {
		"entities": {
			'director': {
				'template': 'director',
				'init': "import PB_directors\n"
								"self.events = PB_directors.director_play(self.game,self.data)",
				'data': {
					"title":['Poo.','Everywhere.'],
					"map": [
						"0000000000HHH0000HHH0000000000",
						"0000000000HHH0000HHH0000000000",
						"000000000HHHHH00HHHHH000000000",
						"000000000HHHHH00HHHHH000000000",
						"000000000HHHHH00HHHHH000000000",
						"0000000HHHHHHHHHHHHHHHH0000000",
						"00000HHHHHHHHHHHHHHHHHHHH00000",
						"00000HH   HHHHHHHHHH   HH00000",
						"00000HH H HHHHHHHHHH H HH00000",
						"00000HH  oHHHHHHHHHHo  HH00000",
						"0000HHHHHHHHBBHBBHHHHHHHHH0000",
						"000HHHHHHHHHH   HHHHHHHHHHH000",
						"000HHHHHoHHHHH HHHHHHoHHHHH000",
						"000HHHHH HHHHH HHHHHH HHHHH000",
						"000HHHHH              HHHHH000",
						"0000HHHHHHHHHHHHHHHHHHHHHH0000",
						"00000HHHHHHHHHHHHHHHHHHHH00000",
					]
				},
			},
		},
		'templates': {
		},
	},
	"Test Win": {
		"entities": {
			'director': {
				'template': 'director',
				'init': "import PB_directors\n"
								"self.events = PB_directors.director_play(self.game,self.data)",
				'data': {
					"title": ['Test win'],
					"map": [
						"0000000000HHH0000HHH0000000000",
						"0000000000HHH0000HHH0000000000",
						"000000000HHHHH00HHHHH000000000",
						"000000000HHHHH00HHHHH000000000",
						"000000000HHHHH00HHHHH000000000",
						"0000000HHHHHHHHHHHHHHHH0000000",
						"00000HHHHHHHHHHHHHHHHHHHH00000",
						"00000HHHHHHHHHHHHHHHHHHHH00000",
						"00000HHHHHHHoHHHHHHHHHHHH00000",
						"00000HHHHHHH HHHHHHHHHHHH00000",
						"0000HHHHHHHHB   oHHHHHHHHH0000",
						"000HHHHHHHHHHHHHHHHHHHHHHHH000",
						"000HHHHHHHHHHHHHHHHHHHHHHHH000",
						"000HHHHHHHHHHHHHHHHHHHHHHHH000",
						"000HHHHHHHHHHHHHHHHHHHHHHHH000",
						"0000HHHHHHHHHHHHHHHHHHHHHH0000",
						"00000HHHHHHHHHHHHHHHHHHHH00000",
					]
				},
			},
		},
		'templates': {
		},
	},
	"Test Holes": {
		"entities": {
			'director': {
				'template': 'director',
				'init': "import PB_directors\n"
								"self.events = PB_directors.director_play(self.game,self.data)",
				'data': {
					"title": ['Test holes'],
					"map": [
						"0000000000HHH0000HHH0000000000",
						"0000000000HHH0000HHH0000000000",
						"000000000HHHHH00HHHHH000000000",
						"000000000HHHHH00HHHHH000000000",
						"000000000HHHHH00HHHHH000000000",
						"0000000HHHHHHHHHHHHHHHH0000000",
						"00000HHHHHHHHHHHHHHHHHHHH00000",
						"00000HHHHHHHoHHHHHHHHHHHH00000",
						"00000HHHHHHH HHHHHHHHHH H00000",
						"00000HHHHHHH HHHHHHHHHHHH00000",
						"0000HHHHo   B   oHHHHHHHHH0000",
						"000HHHHHHHHH HHHHHHHHHHHHHH000",
						"000HHHHHHHHH HHHHHHHHHHHHHH000",
						"000HHHHHHHHHoHHHHHHHHHHHHHH000",
						"000HHHHHHHHHHHHHHHHHHHHHHHH000",
						"0000HHHHHHHHHHHHHHHHHHHHHH0000",
						"00000HHHHHHHHHHHHHHHHHHHH00000",
					]
				},
			},
		},
		'templates': {
		},
	},
	"Introducing Foxes":{
		"entities": {
			'director': {
				'template': 'director',
				'init': "import PB_directors\n"
								"self.events = PB_directors.director_play(self.game,self.data)",
				'data':{
					"title":['Avoid the fox!'],
					"map": [
						"00000000HHHHHHHHHHHHHH00000000",
						"00000HHHHHHHHHHHHHHHHHH0000000",
						"00000HHHHHHHBBBBoHHHHHHHH00000",
						"00000HHHHHHHHHHHHHHHHH00000000",
						"000000HHHHHHHHHHHHHHHHHHH00000",
						"00000HHHHHHHHHHHHHHHHHH0000000",
						"0000000HHHHHHHHHHHHHHHHHH00000",
						"00000HHHHH        oHHHHHH00000",
						"00000HHHHH HHHHHH HHHHH0000000",
						"00000HHHH            HHHH00000",
						"00000HHHH H HHHHH HH HHHH00000",
						"00000HHHH HoHHHHH HH HHHH00000",
						"00000HHHH HHHHHHH HH HHH000000",
						"00000HHHH          1 HHHH00000",
						"000000HHHHHHHHHHHHHHHHHHH00000",
						"00000000HHHHHHHHHHHHHHHH000000",
						"000000000HHHHHHHHHHHHH00000000",
					]
				}
			},
		},
		'templates': {
		},

	},
	"Many foxes":{
		"entities": {
			'director': {
				'template': 'director',
				'init': "import PB_directors\n"
								"self.events = PB_directors.director_play(self.game,self.data)",
				'data':{
					"title":['Not all foxes will chase you the same way...'],
					"map": [
						"HHHHHHHHHHHHHHHHHHHHHHHHHHHHHH",
						"H      1                 H   H",
						"H HHHH HHHHHHHHHHH   H HHH H H",
						"H HHHHHHH   oHH           B  H",
						"H HHHH HH HHHoH HHHH H HHH H H",
						"H         B          H     H H",
						"H HH HHHHHH HHHHHH HHHHHHHHH H",
						"H HH HHH    HHHHHH H         H",
						"H HH HHH HHHHHHHHH H HHHHHHHHH",
						"H 3H           BoH H         H",
						"HH H HHHHHHHHHH HH HHHHHHHHH H",
						"H            HH HH H        oH",
						"H HH HHHHHHH HH HH H HHHHHHHHH",
						"H Ho      B     HH H         H",
						"H HHHHHHHHHHHHHHHH HHHHHHHHH H",
						"H                 2          H",
						"HHHHHHHHHHHHHHHHHHHHHHHHHHHHHH",
					]
				},
			},
		},
		'templates': {
		},
	},
	"Open level":{
		"entities": {
			'director': {
				'template': 'director',
				'init': "import PB_directors\n"
								"self.events = PB_directors.director_play(self.game,self.data)",
				'data':{
					"title":['Someone should fertilise these hedges.'],
					"map": [
						"HHHHHHHHHHHHHHHHHHHHHHHHHHHHHH",
						"H1                           H",
						"H HoHH HH HHH HHHHH HHHHHHHH H",
						"H HHoH HH HHH H HHH4         H",
						"H                  HHHHHHHHH H",
						"H HH H HHHH HH HHH       H   H",
						"H HH H      HH     HHHHH H H H",
						"H HH H HHHHHHH HHH     H H H H",
						"H H            BoHHHHH H H H H",
						"H H HHH HH HHHH HH     H   H H",
						"H H HHH HH H    HH HHHHHHHHH H",
						"H            HH HH   H   H   H",
						"H HH H HH HH HH HH H H H H H H",
						"H Ho            HH H H H H H H",
						"H HHHH HHHHHH HHHH H H H H H H",
						"H                 2H   H    3H",
						"HHHHHHHHHHHHHHHHHHHHHHHHHHHHHH",
					]
				},
			},
		},
		'templates': {
		},
	}
}
