import scene_select_bunnies
import PB_templates
from px_vector import Vec3
import px_graphics

scenes = {
	'meet the bunnies':{
		"playing": False,
		"entities": {
			'director': {
				'template': 'director',
				'init': """import PB_directors
self.events = PB_directors.director_meet(self.game)
"""
			},
		},
		'templates': {
		},
	},
	'title':{
		"playing": False,
		"entities":{
			'director': {
				'template': 'director',
				'init': """import PB_directors
self.events = PB_directors.director_title(self.game)
"""
			}
		},
		'templates': {
			'pacbun meet': {
				'graphics': {'component': PB_templates.components['graphics']['pacbun_graphics'], 'render layer': 'game'},
			},
			'pinkie meet': {
				'graphics': {'component': PB_templates.components['graphics']['pinkie_graphics'], 'render layer': 'game'},
			},
			'blue meet': {
				'graphics': {'component': PB_templates.components['graphics']['blue_graphics'], 'render layer': 'game'},
			},
			'bowie meet': {
				'graphics': {'component': PB_templates.components['graphics']['bowie_graphics'], 'render layer': 'game'},
			},
		},
	},
    # goodbye #######################################################
	'goodbye':{
		'playing':False,
		'entities': {
			'director':{
				'template': 'director',
				'init': "import PB_directors\n"
								"self.events = PB_directors.director_quit(self.game)"
			},
		},
		'templates':{
			'pacbun bye': {
				'graphics': {'component': PB_templates.components['graphics']['pacbun_graphics'], 'render layer': 'game'},
			},
			'pinkie bye': {
				'graphics': {'component': PB_templates.components['graphics']['pinkie_graphics'], 'render layer': 'game'},
			},
			'blue bye': {
				'graphics': {'component': PB_templates.components['graphics']['blue_graphics'], 'render layer': 'game'},
			},
			'bowie bye': {
				'graphics': {'component': PB_templates.components['graphics']['bowie_graphics'], 'render layer': 'game'},
			},
		},
	},
	'high scores':{
		"playing": False,
		"entities": {
			'director': {
				'template': 'director',
				'init': "import PB_directors\n"
								"self.events = PB_directors.director_high_scores(self.game)"
			}
		},
		'templates': {
		},
	},
	'select bunnies':{
		"playing": False,
		"entities": {
			'director': {
				'template': 'director',
				'init': "import PB_directors\n"
								"self.events = PB_directors.director_bunny_select(self.game)"
			},
			'pacbun choose':{
				'template': 'pacbun choose',
				'data': {
					'pos': Vec3(226,200,0),
					'parent': 'bunny choice',
					'bun num': 0,
					'bun name': 'PacBun',
					'message color': px_graphics.Color(1, 1, 0, 1),
				}
			},
			'pinkie choose': {
				'template': 'pinkie choose',
				'data': {
					'pos': Vec3(246,200,0),
					'parent': 'bunny choice',
					'bun num': 1,
					'bun name': 'Pinkie',
					'message color': px_graphics.Color(1, 0.8, 0.8, 1),
				}
			},
			'blue choose': {
				'template': 'blue choose',
				'data': {
					'pos': Vec3(266, 200, 0),
					'parent': 'bunny choice',
					'bun num': 2,
					'bun name': 'Blue',
					'message color': px_graphics.Color(0.5,0.5,1.0,1),
				}
			},
			'bowie choose': {
				'template': 'bowie choose',
				'data': {
					'pos': Vec3(286, 200, 0),
					'parent': 'bunny choice',
					'bun num': 3,
					'bun name': 'Bowie',
					'message color': px_graphics.Color(1, 1, 1.0, 1),
				},
			}
		}, # entities
		'templates':{
			'pacbun choose': {
				'controller': scene_select_bunnies.makeBunnyChooseController,
				'graphics': {'component': PB_templates.components['graphics']['pacbun_graphics'], 'render layer': 'game'},
			},
			'pinkie choose': {
				'controller': scene_select_bunnies.makeBunnyChooseController,
				'graphics': {'component': PB_templates.components['graphics']['pinkie_graphics'], 'render layer': 'game'},
			},
			'blue choose': {
				'controller': scene_select_bunnies.makeBunnyChooseController,
				'graphics': {'component': PB_templates.components['graphics']['blue_graphics'], 'render layer': 'game'},
			},
			'bowie choose': {
				'controller': scene_select_bunnies.makeBunnyChooseController,
				'graphics': {'component': PB_templates.components['graphics']['bowie_graphics'], 'render layer': 'game'},
			},
		}, # templates
	},
	# 	{
	# 				# "Bunnies": ['pacbun'],
	# 				"Playing": True,
	# 				"Entities": {
	# 					'pacbun': {
	# 						'template': 'pacbun',
	# 						'init': """
	# self.setPos(game.level.getBunnyStarts()[0])
	# 												"""
	# 					},
	# 					'director':	{
	# 						'template': 'director',
	# 						'init': """
	# import director
	# self.events= [
	# 	director.Delay(1.5),
	# 	game.message("
	# 	director.Spawn(spawns=[director.SpawnEntity(game.templates['pinkie'], Vec3(100,100,1), False, "Spawned bunny")]),
	# 	director.Delay(1.1),
	# 	director.Spawn(spawns=[director.SpawnEntity(game.templates['blue'], Vec3(110,100,1), False, "Spawned bunny")]),
	# 	director.Delay(0.9),
	# 	director.Spawn(spawns=[director.SpawnEntity(game.templates['bowie'], Vec3(120,100,1), False, "Spawned bunny")]),
	# ]
	# 						"""
	# 					}
	# 				},
	# 				"Message": "Poo. Everywhere.",
	# 				"Map": [
	# 					"HHHHHHHHHHHHHHHHHHHH",
	# 					"HHHHHHHHHHHHHHHHHHHH",
	# 					"HHHHHHHHHHHHHHHHHHHH",
	# 					"HHHHHHHHHHHHHHHHHHHH",
	# 					"HHHHHHHHHHHHHHHHHHHH",
	# 					"HHHHHHHHHHHHHHHHHHHH",
	# 					"B    OHHHHHHHHHHHHHH",
	# 					"HHHHHT##############",
	# 					"#####T##############",
	# 					"#####TTTTTTTTT######",
	# 					"##########T#########",
	# 					"##########T###HHHHHH",
	# 					"##########T###HO    ",
	# 					"##########T####T####",
	# 					"##########TTTTTT####",
	# 					"####################",
	# 					"####################",
	# 					"####################",
	# 				]
	# 			},
	"Poo. Everywhere": {
		"entities": {
			'director': {
				'template': 'director',
				'init': "import PB_directors\n"
								"self.events = PB_directors.director_play(self.game,self.data)",
				'data': {
					"title":['Poo.','Everywhere.'],
					"map": [
						"HHHHHHHHHHHHHHHHHHHH",
						"HHHHHHHHHHHHHHHHHHHH",
						"HHHHHHHHHHHHHHHHHHHH",
						"HH   HHHHHHHHHH   HH",
						"HH H HHHHHHHHHH H HH",
						"HH  oHHHHHHHHHHo  HH",
						"HHHHHHHHHHHHHHHHHHHH",
						"HHHHHHHHHHHHHHHHHHHH",
						"HHHHHHHBBHBBHHHHHHHH",
						"HHHHHHHH   HHHHHHHHH",
						"HHHHHHHHH HHHHHHHHHH",
						"HHHHHHHHH HHHHHHHHHH",
						"HHHoHHHHH HHHHHHoHHH",
						"HHH HHHHH HHHHHH HHH",
						"HHH              HHH",
						"HHHHHHHHHHHHHHHHHHHH",
						"HHHHHHHHHHHHHHHHHHHH",
						"HHHHHHHHHHHHHHHHHHHH",
					]
				},
			},
		},
		'templates': {
		},
		"playing": True,
	},
	"Introducing Foxes":{
		"playing": True,
		"entities": {
			'director': {
				'template': 'director',
				'init': "import PB_directors\n"
								"self.events = PB_directors.director_play(self.game,self.data)",
				'data':{
					"title":['Avoid the fox!'],
					"map": [
						"HHHHHHHHHHHHHHHHHHHH",
						"HHHHHHHHHHHHHHHHHHHH",
						"HHHHHHHHHHHHHHHHHHHH",
						"HHHHHHHBBBBoHHHHHHHH",
						"HHHHHHHHHHHHHHHHHHHH",
						"HHHHHHHHHHHHHHHHHHHH",
						"HHHHHHHHHHHHHHHHHHHH",
						"HHHHHHHHHHHHHHHHHHHH",
						"HHHHH        oHHHHHH",
						"HHHHH HHHHHH HHHHHHH",
						"HHHH            HHHH",
						"HHHH H HHHHH HH HHHH",
						"HHHH HoHHHHH HH HHHH",
						"HHHH HHHHHHH HH HHHH",
						"HHHH          1 HHHH",
						"HHHHHHHHHHHHHHHHHHHH",
						"HHHHHHHHHHHHHHHHHHHH",
						"HHHHHHHHHHHHHHHHHHHH",
					]
				}
			},
		},
		'templates': {
		},

	},
	"Many foxes":{
		"playing": True,
		"entities": {
			'director': {
				'template': 'director',
				'init': "import PB_directors\n"
								"self.events = PB_directors.director_play(self.game,self.data)",
				'data':{
					"title":['Not all foxes will chase you the same way...'],
					"map": [
						"HHHHHHHHHHHHHHHHHHHH",
						"H1                 H",
						"H HHHH HHHHHH HHHH H",
						"H oHHH HH       B  H",
						"H HHHH HH HHHoH HHHH",
						"H         B        H",
						"H HH HHHHHH HHHHHH H",
						"H HH HHH    HHHHHH H",
						"H HH HHH HHHHHHHHH H",
						"H 3H           BoH H",
						"HH H HHHHHHHHHH HH H",
						"HH H HHHHHHH    HH H",
						"H            HH HH H",
						"H HH HHHHHHH HH HH H",
						"H Ho      B     HH H",
						"H HHHHHHHHHHHHHHHH H",
						"H                 2H",
						"HHHHHHHHHHHHHHHHHHHH",
					]
				},
			},
		},
		'templates': {
		},
	},
	"Open level":{
		"playing": True,
		"entities": {
			'director': {
				'template': 'director',
				'init': "import PB_directors\n"
								"self.events = PB_directors.director_play(self.game,self.data)",
				'data':{
					"title":['Someone should fertilise these hedges.'],
					"map": [
						"HHHHHHHHHHHHHHHHHHHH",
						"H1                 H",
						"H HoHH HHHHHH HHHH H",
						"H HHHH HH          H",
						"H HHoH HH HHHHH HHHH",
						"H                  H",
						"H HH H HHHH HH HHH H",
						"H HH H      HH     H",
						"H HH H HHHHHHH HHH H",
						"H H            BoH H",
						"H H  HH HH HHHH HH H",
						"H H  HH HH H    HH H",
						"H            HH HH H",
						"H HH H HH HH HH HH H",
						"H Ho            HH H",
						"H HHHH HHHHHH HHHH H",
						"H                 2H",
						"HHHHHHHHHHHHHHHHHHHH",
					]
				},
			},
		},
		'templates': {
		},
	}
}
